{% extends "shared/base.html" %}


{% block title %}
  <title>Create Your Detail Post</title>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="text-danger font-weight-bold">
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </div>
    </div>

    <div class="row my-5">
      <h3 class="text-center display-4">Create Your Detail Post</h3>
      <form method="POST">
        <div class="mb-3">
          <input type="text" required class="form-control" name="name" value="{{name}}" placeholder="Name here">
        </div>
        <div class="mb-3">
          <input type="text" required placeholder="AdharCard Number e.g 8754378964" name="adhar" value="{{adhar}}" class="form-control">
        </div>
        <div class="mb-3">
          <input type="text" required placeholder="Pen Card Number" name="pen" value="{{pen}}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  {% endblock %}
